div(class="navside") 
  h5(class="title") Mohand
  div(class="link")
    ul 
      li(class="active")
        a(href="../index.html")
          <i class="fa-solid fa-chart-bar"></i>
          p Dashboard 
      li
        a(href="./") 
          <i class="fa-solid fa-gear"></i>
          p Settings 
      li
        a(href="./") 
          <i class="fa-regular fa-user"></i>
          p Profile 
      li 
        a(href="../projects.html")
          <i class="fa-solid fa-share-nodes"></i>
          p Projects 
      li 
        a(href="./")
          <i class="fa-solid fa-graduation-cap"></i>
          p Coursers 
      li 
        a(href="./")
          <i class="fa-regular fa-circle-user"></i>
          p Friends 
      li 
        a(href="./")
          <i class="fa-regular fa-file"></i>
          p Files 
      li 
        a(href="./")
          <i class="fa-regular fa-credit-card"></i>
          p Plans 
