* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.row {
  max-width: 100%;
}
.row .side {
  padding: 0;
  margin: 0;
}
.row .content {
  padding: 0;
  margin: 0;
}

.active {
  background-color: #f6f6f6;
}

.side {
  width: 250px;
}
.side .navside {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding: 20px;
  width: 100%;
  -webkit-box-shadow: 0 0 10px #ddd;
          box-shadow: 0 0 10px #ddd;
}
.side .navside .title {
  margin-bottom: 50px;
  font-size: 19px;
  position: relative;
  text-align: center;
  font-weight: 600;
}
.side .navside .title::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: black;
  z-index: 2;
  bottom: -22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid white;
}
.side .navside .title::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.side .navside .link ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}
.side .navside .link ul li {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
}
.side .navside .link ul li:hover {
  background-color: #f6f6f6;
}
.side .navside .link ul li a {
  text-decoration: none;
  color: black;
}
.side .navside .link ul li a p {
  display: inline;
}
.side .navside .link ul li a svg {
  margin: 0 15px 0 0;
}

@media (max-width: 767px) {
  .side {
    width: 58px;
  }
  .side .navside {
    padding: 10px 0;
  }
  .side .navside .title {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .side .navside .title::before {
    display: none;
  }
  .side .navside .title::after {
    display: none;
  }
  .side .navside ul li svg {
    margin: 0 !important;
  }
  .side .navside ul li p {
    display: none !important;
  }
}
.content {
  width: 100%;
}
.content .header {
  width: 100%;
  padding: 15px;
}
.content .header .d-flex {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .header .d-flex .search {
  position: relative;
}
.content .header .d-flex .search svg {
  left: 12px;
  position: absolute;
  font-size: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #888;
}
.content .header .d-flex .search input {
  padding: 10px 10px 10px 30px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 13px;
  width: 160px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.content .header .d-flex .search input:focus {
  outline: none;
  width: 200px;
}
.content .header .d-flex .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.content .header .d-flex .person::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f44336;
  border-radius: 50%;
  top: 5px;
  left: 12px;
}
.content .header .d-flex .person svg {
  font-size: 20px;
}
.content .header .d-flex .person img {
  max-width: 32px;
  margin-left: 15px;
}