* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  width: calc(100% - 190px);
}
.content .side {
  padding: 0;
  margin: 0;
}
.content .content {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .content {
    width: calc(100% - 58px) !important;
  }
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #0075ff;
}

.active {
  background-color: #f6f6f6;
}

.main {
  background-color: #f1f5f9;
  position: relative;
  z-index: 7;
}

.special-header {
  display: block;
  position: relative;
  font-size: 32px;
  margin: 0px 15px 40px;
  font-weight: 700;
  padding-top: 20px;
}
.special-header::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: black;
  bottom: -10px;
  left: 0;
}
.special-header::after {
  content: "";
  position: absolute;
  width: 85px;
  height: 3px;
  bottom: -10px;
  background-color: white;
  left: 40px;
}

.header-special {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.para-special {
  color: #888;
  font-size: 15px;
  margin-bottom: 20px;
}

.side {
  width: 190px;
  position: relative;
  z-index: 99999;
}
.side .navside {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding: 20px;
  width: 100%;
  -webkit-box-shadow: 0 0 10px #ddd;
          box-shadow: 0 0 10px #ddd;
}
.side .navside .title {
  margin-bottom: 50px;
  font-size: 19px;
  position: relative;
  text-align: center;
  font-weight: 600;
}
.side .navside .title::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: black;
  z-index: 2;
  bottom: -22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid white;
}
.side .navside .title::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.side .navside .link ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}
.side .navside .link ul li {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.side .navside .link ul li:hover {
  background-color: #f6f6f6;
}
.side .navside .link ul li.active {
  background-color: #f6f6f6;
}
.side .navside .link ul li a {
  text-decoration: none;
  color: black;
}
.side .navside .link ul li a p {
  display: inline;
}
.side .navside .link ul li a svg {
  margin: 0 15px 0 0;
}

@media (max-width: 767px) {
  .side {
    width: 58px;
  }
  .side .navside {
    padding: 10px 0;
  }
  .side .navside .title {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .side .navside .title::before {
    display: none;
  }
  .side .navside .title::after {
    display: none;
  }
  .side .navside ul li svg {
    margin: 0 !important;
  }
  .side .navside ul li p {
    display: none !important;
  }
}
.content .header {
  width: 100%;
  padding: 15px;
}
.content .header .d-flex {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .header .d-flex .search {
  position: relative;
}
.content .header .d-flex .search svg {
  left: 12px;
  position: absolute;
  font-size: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #888;
}
.content .header .d-flex .search input {
  padding: 10px 10px 10px 30px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 13px;
  width: 160px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.content .header .d-flex .search input:focus {
  outline: none;
  width: 200px;
}
.content .header .d-flex .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.content .header .d-flex .person::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f44336;
  border-radius: 50%;
  top: 5px;
  left: 12px;
}
.content .header .d-flex .person svg {
  font-size: 20px;
}
.content .header .d-flex .person img {
  max-width: 32px;
  margin-left: 15px;
}

.box1 {
  padding: 10px;
}
.box1 .contentwel {
  background-color: white;
  border-radius: 10px;
}
.box1 .contentwel .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eee;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box1 .contentwel .up .header {
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.box1 .contentwel .up .header h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}
.box1 .contentwel .up .header p {
  margin: 0;
  color: #888;
  margin-top: 5px;
  margin-bottom: 16px;
}
.box1 .contentwel .up .image img {
  width: 200px;
}
.box1 .contentwel .down {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px 0;
}
.box1 .contentwel .down img {
  width: 65px;
  position: absolute;
  top: 220px;
  border: 4px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px #ddd;
          box-shadow: 0 0 5px #ddd;
  margin-left: 30px;
}
.box1 .contentwel .down .state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  padding: 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.box1 .contentwel .down .state .sec {
  width: 33.3333333333%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.box1 .contentwel .down .state .sec p {
  margin: 0;
}
.box1 .contentwel .down .state .sec .para {
  margin: 10px 0 0 !important;
  color: #888;
  font-size: 14px;
}
.box1 .contentwel .down button {
  border: none;
  background-color: #0075ff;
  color: white;
  padding: 4px 9px;
  border-radius: 5px;
  font-size: 14px;
  margin: 0px 20px 20px auto;
  display: block;
}

@media (max-width: 767px) {
  .box1 .up img {
    display: none;
  }
  .box1 .up .header p {
    text-align: center;
  }
  .down img {
    top: 195px !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0 !important;
  }
  .down .state {
    row-gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .down .state .sec:first-child {
    width: 100% !important;
  }
}
.box2 {
  padding: 10px;
}
.box2 .contentdraf {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.box2 .contentdraf .inpu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.box2 .contentdraf .inpu input {
  margin-bottom: 20px;
  border: none;
  background-color: #eeeeee;
  padding: 8px;
  border-radius: 6px;
  font-size: 13px;
}
.box2 .contentdraf .inpu textarea {
  border: none;
  padding: 8px;
  background-color: #eee;
  border-radius: 10px;
  height: 172px;
  resize: none;
  font-size: 13px;
  margin-bottom: 19px;
}
.box2 .contentdraf .inpu button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 0 0 0 auto;
  border: none;
  padding: 1px 10px;
  border-radius: 6px;
  background-color: #0075ff;
  color: white;
}

.box3 {
  padding: 10px;
}
.box3 .contenttarget {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.box3 .contenttarget .static {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.box3 .contenttarget .static .money,
.box3 .contenttarget .static .project,
.box3 .contenttarget .static .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}
.box3 .contenttarget .static .money .icon,
.box3 .contenttarget .static .project .icon,
.box3 .contenttarget .static .team .icon {
  width: 98px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.box3 .contenttarget .static .money .icon svg,
.box3 .contenttarget .static .project .icon svg,
.box3 .contenttarget .static .team .icon svg {
  font-size: 20px;
}
.box3 .contenttarget .static .money .show,
.box3 .contenttarget .static .project .show,
.box3 .contenttarget .static .team .show {
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.box3 .contenttarget .static .money .show .para,
.box3 .contenttarget .static .project .show .para,
.box3 .contenttarget .static .team .show .para {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  color: #888;
}
.box3 .contenttarget .static .money .show p:last-of-type,
.box3 .contenttarget .static .project .show p:last-of-type,
.box3 .contenttarget .static .team .show p:last-of-type {
  margin: 0;
  font-weight: 700;
}
.box3 .contenttarget .static .money .show .chart,
.box3 .contenttarget .static .project .show .chart,
.box3 .contenttarget .static .team .show .chart {
  width: 100%;
  height: 3px;
  margin-top: 10px;
  position: relative;
}
.box3 .contenttarget .static .money .show .chart .color,
.box3 .contenttarget .static .project .show .chart .color,
.box3 .contenttarget .static .team .show .chart .color {
  display: block;
  height: 3px;
}
.box3 .contenttarget .static .money .show .chart .color span,
.box3 .contenttarget .static .project .show .chart .color span,
.box3 .contenttarget .static .team .show .chart .color span {
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  top: -40px;
  font-size: 14px;
}
.box3 .contenttarget .static .money .show .chart .color span::after,
.box3 .contenttarget .static .project .show .chart .color span::after,
.box3 .contenttarget .static .team .show .chart .color span::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  position: absolute;
  top: 31px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.box3 .contenttarget .static .money .icon {
  background-color: rgba(0, 117, 255, 0.2);
}
.box3 .contenttarget .static .money .icon svg {
  color: #0075ff;
}
.box3 .contenttarget .static .money .show .chart {
  background-color: rgba(0, 117, 255, 0.2);
}
.box3 .contenttarget .static .money .show .chart .color {
  width: 80%;
  background-color: #0075ff;
}
.box3 .contenttarget .static .money .show .chart .color span {
  background-color: #0075ff;
  right: 20%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.box3 .contenttarget .static .money .show .chart .color span::after {
  border-color: #0075ff transparent transparent transparent;
}
.box3 .contenttarget .static .project .icon {
  background-color: rgba(245, 158, 11, 0.2);
}
.box3 .contenttarget .static .project .icon svg {
  color: #f59e0b;
}
.box3 .contenttarget .static .project .show .chart {
  background-color: rgba(245, 158, 11, 0.2);
}
.box3 .contenttarget .static .project .show .chart .color {
  width: 55%;
  background-color: #f59e0b;
}
.box3 .contenttarget .static .project .show .chart .color span {
  background-color: #f59e0b;
  right: 45%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.box3 .contenttarget .static .project .show .chart .color span::after {
  border-color: #f59e0b transparent transparent transparent;
}
.box3 .contenttarget .static .team .icon {
  background-color: rgba(34, 197, 94, 0.2);
}
.box3 .contenttarget .static .team .icon svg {
  color: #22c55e;
}
.box3 .contenttarget .static .team .show .chart {
  background-color: rgba(34, 197, 94, 0.2);
}
.box3 .contenttarget .static .team .show .chart .color {
  width: 75%;
  background-color: #22c55e;
}
.box3 .contenttarget .static .team .show .chart .color span {
  background-color: #22c55e;
  right: 25%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.box3 .contenttarget .static .team .show .chart .color span::after {
  border-color: #22c55e transparent transparent transparent;
}

.box4 {
  padding: 10px;
}
.box4 .contenttickets {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.box4 .contenttickets .total,
.box4 .contenttickets .pend,
.box4 .contenttickets .close,
.box4 .contenttickets .delet {
  padding: 10px;
}
.box4 .contenttickets .total .con,
.box4 .contenttickets .pend .con,
.box4 .contenttickets .close .con,
.box4 .contenttickets .delet .con {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box4 .contenttickets .total .con svg,
.box4 .contenttickets .pend .con svg,
.box4 .contenttickets .close .con svg,
.box4 .contenttickets .delet .con svg {
  font-size: 26px;
}
.box4 .contenttickets .total .con h3,
.box4 .contenttickets .pend .con h3,
.box4 .contenttickets .close .con h3,
.box4 .contenttickets .delet .con h3 {
  font-weight: 700;
  font-size: 25px;
  margin: 10px 0;
}
.box4 .contenttickets .total .con p,
.box4 .contenttickets .pend .con p,
.box4 .contenttickets .close .con p,
.box4 .contenttickets .delet .con p {
  margin: 0;
  color: #888;
}
.box4 .total svg {
  color: #f59e0b;
}
.box4 .pend svg {
  color: #0075ff;
}
.box4 .close svg {
  color: #22c55e;
}
.box4 .delet svg {
  color: #f44336;
}

.box5 {
  padding: 10px;
}
.box5 .contentnews {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.box5 .contentnews > h3 {
  margin-bottom: 21px !important;
}
.box5 .contentnews .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box5 .contentnews .div .image {
  width: 100px;
  margin-right: 15px;
}
.box5 .contentnews .div .image img {
  max-width: 100%;
  border-radius: 6px;
}
.box5 .contentnews .div .text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.box5 .contentnews .div .text h4 {
  font-size: 16px;
  margin-bottom: 6px;
}
.box5 .contentnews .div .text p {
  font-size: 14px;
  color: #888;
  margin: 0;
}
.box5 .contentnews .div .span {
  font-size: 13px;
  background-color: #eee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px 10px;
  border-radius: 6px;
}
.box5 .contentnews .div:last-of-type {
  border: none;
  margin: 0 !important;
  padding: 0 !important;
}

.box6 {
  padding: 10px;
}
.box6 .contenttask {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.box6 .contenttask .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.box6 .contenttask .div .text h4 {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
}
.box6 .contenttask .div .text p {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
  color: #888;
}
.box6 .contenttask .div .icon:hover {
  color: #f44336;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.box6 .contenttask .div:last-of-type {
  border: none;
  margin: 0 !important;
  padding: 0 !important;
}
.box6 .contenttask .done {
  opacity: 0.3;
}
.box6 .contenttask .done h4 {
  text-decoration: line-through;
}
.box6 .contenttask .done p {
  text-decoration: line-through;
}
.box6 .contenttask .done .icon:hover {
  color: inherit;
  cursor: inherit;
}

.box7 {
  padding: 10px;
}
.box7 .contentsearch {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  height: 434px;
}
.box7 .contentsearch .main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.box7 .contentsearch .main-text h4 {
  font-size: 16px;
  margin: 0;
  color: #888;
}
.box7 .contentsearch .div {
  padding: 15px 0;
}
.box7 .contentsearch .div .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.box7 .contentsearch .div .text p {
  margin: 0;
  font-weight: 500;
}
.box7 .contentsearch .div .text span {
  padding: 4px 10px;
  background-color: #eee;
  font-size: 13px;
  border-radius: 6px;
}

.box8 {
  padding: 10px;
}
.box8 .contentupload {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.box8 .contentupload .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
}
.box8 .contentupload .div .image {
  width: 40px;
  margin-right: 10px;
}
.box8 .contentupload .div .text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.box8 .contentupload .div .text h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.box8 .contentupload .div .text p {
  margin: 0;
  font-size: 15px;
  color: #888;
}
.box8 .contentupload .div span {
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 6px;
  font-size: 13px;
}
.box8 .contentupload .div:last-of-type {
  border: none;
  padding: 0 !important;
  margin: 0 !important;
}

.box9 {
  padding: 10px;
}
.box9 .contentproject {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.box9 .contentproject .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.box9 .contentproject .contain .div {
  width: 24px;
  height: 24px;
  border: 2px solid #0075ff;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
}
.box9 .contentproject .contain .div span {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #0075ff;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  z-index: 99;
}
.box9 .contentproject .contain p {
  margin: 0;
  font-weight: 500;
}
.box9 .contentproject .contain::after {
  content: "";
  width: 2px;
  height: 25px;
  background-color: #0075ff;
  position: absolute;
  bottom: -41px;
  left: 11px;
  height: 170%;
}
.box9 .contentproject img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 160px;
  opacity: 0.3;
}
.box9 .contentproject .contain.ani .div span {
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.box9 .contentproject .contain:last-of-type span {
  background-color: white !important;
}
.box9 .contentproject .contain:last-of-type::after {
  background-color: transparent !important;
}

@-webkit-keyframes opa {
  0% {
    background-color: #0075ff;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: #0075ff;
  }
}

@keyframes opa {
  0% {
    background-color: #0075ff;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: #0075ff;
  }
}
.box10 {
  padding: 10px;
}
.box10 .contentremind {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  height: 100%;
}
.box10 .contentremind .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}
.box10 .contentremind .contain .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box10 .contentremind .contain .div span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
}
.box10 .contentremind .contain .text {
  padding-left: 15px;
}
.box10 .contentremind .contain .text h5 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}
.box10 .contentremind .contain .text p {
  margin: 0;
  font-size: 13px;
  color: #888;
}
.box10 .contentremind .contain .one {
  border-right: 2px solid #0075ff;
}
.box10 .contentremind .contain .one span {
  background-color: #0075ff;
}
.box10 .contentremind .contain .two {
  border-right: 2px solid #22c55e;
}
.box10 .contentremind .contain .two span {
  background-color: #22c55e;
}
.box10 .contentremind .contain .three {
  border-right: 2px solid #f59e0b;
}
.box10 .contentremind .contain .three span {
  background-color: #f59e0b;
}
.box10 .contentremind .contain .four {
  border-right: 2px solid #f44336;
}
.box10 .contentremind .contain .four span {
  background-color: #f44336;
}

.box11 {
  padding: 10px;
}
.box11 .header-special {
  margin-bottom: 25px !important;
}
.box11 .contentpost {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  height: 100%;
}
.box11 .contentpost .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.box11 .contentpost .post .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.box11 .contentpost .post .user .image {
  width: 48px;
  height: 48px;
  margin-right: 15px;
}
.box11 .contentpost .post .user .image img {
  max-width: 100%;
}
.box11 .contentpost .post .user .text h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
.box11 .contentpost .post .user .text p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #888;
}
.box11 .contentpost .post .artic {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.box11 .contentpost .post .artic > p {
  margin: 0 !important;
  font-size: 30px !important;
}
.box11 .contentpost .post .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.box11 .contentpost .post .icons .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #888;
}
.box11 .contentpost .post .icons .div p {
  margin: 0;
  font-weight: 600;
  margin-left: 5px;
}

.box12 {
  padding: 10px;
}
.box12 .header-special {
  margin-bottom: 25px !important;
}
.box12 .contentsocial {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.box12 .contentsocial .twit,
.box12 .contentsocial .face,
.box12 .contentsocial .youtube,
.box12 .contentsocial .linkd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}
.box12 .contentsocial .twit .div,
.box12 .contentsocial .face .div,
.box12 .contentsocial .youtube .div,
.box12 .contentsocial .linkd .div {
  width: 52px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.box12 .contentsocial .twit .div:hover,
.box12 .contentsocial .face .div:hover,
.box12 .contentsocial .youtube .div:hover,
.box12 .contentsocial .linkd .div:hover {
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}
.box12 .contentsocial .twit .div svg,
.box12 .contentsocial .face .div svg,
.box12 .contentsocial .youtube .div svg,
.box12 .contentsocial .linkd .div svg {
  font-size: 32px;
  color: white;
}
.box12 .contentsocial .twit p,
.box12 .contentsocial .face p,
.box12 .contentsocial .youtube p,
.box12 .contentsocial .linkd p {
  margin: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 600;
}
.box12 .contentsocial .twit button,
.box12 .contentsocial .face button,
.box12 .contentsocial .youtube button,
.box12 .contentsocial .linkd button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
}
.box12 .contentsocial .twit button a,
.box12 .contentsocial .face button a,
.box12 .contentsocial .youtube button a,
.box12 .contentsocial .linkd button a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
}
.box12 .contentsocial .twit {
  background-color: rgba(29, 161, 242, 0.2);
}
.box12 .contentsocial .twit .div {
  background-color: #1da1f2;
}
.box12 .contentsocial .twit p {
  color: #1da1f2;
}
.box12 .contentsocial .twit button {
  background-color: #1da1f2;
}
.box12 .contentsocial .face {
  background-color: rgba(24, 119, 242, 0.2);
}
.box12 .contentsocial .face .div {
  background-color: #1877f2;
}
.box12 .contentsocial .face p {
  color: #1da1f2;
}
.box12 .contentsocial .face button {
  background-color: #1877f2;
}
.box12 .contentsocial .youtube {
  background-color: rgba(255, 0, 0, 0.2);
}
.box12 .contentsocial .youtube .div {
  background-color: #ff0000;
}
.box12 .contentsocial .youtube p {
  color: #ff0000;
}
.box12 .contentsocial .youtube button {
  background-color: #ff0000;
}
.box12 .contentsocial .linkd {
  background-color: rgba(0, 119, 181, 0.2);
  margin-bottom: 0 !important;
}
.box12 .contentsocial .linkd .div {
  background-color: #0077b5;
}
.box12 .contentsocial .linkd p {
  color: #0077b5;
}
.box12 .contentsocial .linkd button {
  background-color: #0077b5;
}

.box13 {
  padding: 10px;
}
.box13 .header-special {
  margin-bottom: 25px !important;
}
.box13 .contenttable {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.box13 .contenttable .contain {
  overflow-x: auto;
}
.box13 .contenttable .contain table {
  border: 1px solid #eee;
  min-width: 1000px;
  width: 100%;
}
.box13 .contenttable .contain table thead {
  background-color: #eee;
}
.box13 .contenttable .contain table thead th {
  padding: 15px;
  font-size: 15px;
}
.box13 .contenttable .contain table tbody td {
  padding: 15px;
  border: 1px solid #eee;
  font-size: 15px;
  font-weight: 600;
}
.box13 .contenttable .contain table tbody .image {
  position: relative;
}
.box13 .contenttable .contain table tbody .image img {
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: 11px;
  width: 32px;
  display: block;
}
.box13 .contenttable .contain table tbody .image img:nth-child(2) {
  left: 30px;
}
.box13 .contenttable .contain table tbody .image img:nth-child(3) {
  left: 45px;
}
.box13 .contenttable .contain table tbody .image img:nth-child(4) {
  left: 60px;
}
.box13 .contenttable .contain table tbody td button {
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  color: white;
  font-weight: 600;
}
.box13 .contenttable .contain table tbody td .or {
  background-color: #f59e0b;
}
.box13 .contenttable .contain table tbody td .green {
  background-color: #22c55e;
}
.box13 .contenttable .contain table tbody td .blue {
  background-color: #0075ff;
}
.box13 .contenttable .contain table tbody td .red {
  background-color: #f44336;
}

.box-pr {
  padding: 10px;
}
.box-pr .con {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.box-pr .con .text h5 {
  margin: 0;
  font-size: 16px;
}
.box-pr .con .text .disc {
  margin: 10px 0;
  font-size: 14px;
  color: #888;
}
.box-pr .con .text .date {
  margin: 0;
  font-size: 13px;
  color: #888;
  position: absolute;
  top: 10px;
  right: 15px;
}
.box-pr .con .image {
  position: relative;
  margin: 40px 0;
}
.box-pr .con .image div.impr {
  top: 0;
  position: absolute;
  cursor: pointer;
}
.box-pr .con .image div.impr img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
.box-pr .con .image div.impr:hover {
  z-index: 10000;
}
.box-pr .con .image div:nth-child(1) {
  left: 0;
}
.box-pr .con .image div:nth-child(2) {
  left: 25px;
}
.box-pr .con .image div:nth-child(3) {
  left: 50px;
}
.box-pr .con .image div:nth-child(4) {
  left: 75px;
}
.box-pr .con .image div:nth-child(5) {
  left: 100px;
}
.box-pr .con .proj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 100px;
  padding: 15px 0;
}
.box-pr .con .proj p {
  padding: 3px 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #eee;
  border-radius: 6px;
  margin: 0 5px 0 0;
  font-size: 13px;
}
.box-pr .con .chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-pr .con .chart div {
  width: 58%;
  background-color: #eee;
  height: 8px;
  border-radius: 6px;
}
.box-pr .con .chart div span {
  height: 100%;
  border-radius: 6px;
  background-color: #22c55e;
  display: block;
}
.box-pr .con .chart p {
  margin: 0;
  color: #888;
}

.main .box-pr .con .chart div .one {
  width: 50%;
  background-color: #f44336 !important;
}
.main .box-pr .con .chart div .two {
  width: 80%;
}
.main .box-pr .con .chart div .three {
  width: 100%;
  background-color: #0075ff !important;
}
.main .box-pr .con .chart div .four {
  width: 60%;
}
.main .box-pr .con .chart div .five {
  width: 70%;
}
.main .box-pr .con .chart div .six {
  width: 40%;
  background-color: #f44336 !important;
}
.main .box-pr .con .chart div .seven {
  width: 65%;
}
.main .box-pr .con .chart div .eight {
  width: 55%;
}
.main .box-pr .con .chart div .nine {
  width: 90%;
}

@media (max-width: 767px) {
  .proj {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    row-gap: 12px;
  }
  .chart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 12px;
  }
  .chart div {
    width: 100% !important;
  }
}
.box-co {
  padding: 10px;
}
.box-co .con {
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}
.box-co .con .image {
  position: relative;
  width: 100%;
}
.box-co .con .image img:first-child {
  position: absolute;
  width: 64px;
  border-radius: 50%;
  border: 2px solid white;
  top: 20px;
  left: 20px;
}
.box-co .con .image img:last-child {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 100%;
}
.box-co .con .text {
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.box-co .con .text h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.box-co .con .text p {
  margin: 15px 0 14px;
  font-size: 14px;
  color: #888;
}
.box-co .con .text a {
  text-decoration: none;
  color: white;
  background-color: #0075ff;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 6px;
  position: absolute;
  bottom: 47px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.box-co .con .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #888;
  font-size: 13px;
  padding: 20px;
}
.box-co .con .info p {
  margin: 0;
}

.box-fr {
  padding: 10px;
  background-color: transparent;
}
.box-fr .con {
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 20px;
}
.box-fr .con .up a {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
}
.box-fr .con .up a:last-of-type {
  left: 48px !important;
}
.box-fr .con .up .image {
  text-align: center;
  margin: 10px 0;
}
.box-fr .con .up .image img {
  width: 100px;
  border-radius: 50%;
}
.box-fr .con .up h3 {
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}
.box-fr .con .up p {
  font-size: 13px;
  color: #888;
  text-align: center;
  margin: 5px 0 13px;
}
.box-fr .con .mid {
  margin: 15px 0;
  padding: 15px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.box-fr .con .mid p {
  font-size: 14px;
  margin: 0 0 10px;
}
.box-fr .con .mid p svg {
  margin-right: 5px;
}
.box-fr .con .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-fr .con .down p {
  margin: 0;
  color: #888;
  font-size: 13px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.box-fr .con .down .controll a {
  font-size: 13px;
  background-color: #0075ff;
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
}
.box-fr .con .down .controll a:last-child {
  background-color: #f44336 !important;
  margin-left: 5px;
}

.box-fr .vip .mid {
  position: relative;
}
.box-fr .vip .mid::before {
  content: "VIP";
  position: absolute;
  color: #f59e0b;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 40px;
  opacity: 0.2;
  font-weight: 600;
}

@media (min-width: 992px) {
  .box-fr {
    width: 33.3333333333% !important;
  }
}
@media (min-width: 1350px) {
  .box-fr {
    width: 25% !important;
  }
}
.box-fi {
  padding: 10px;
}
.box-fi .con {
  border-radius: 10px;
  padding: 10px;
}
.box-fi .con .contain {
  background-color: white;
  position: relative;
  padding: 10px;
  border-radius: 10px;
}
.box-fi .con .contain .up svg {
  font-size: 16px;
  color: #888;
}
.box-fi .con .contain .up img {
  width: 64px;
  margin: 15px auto;
  display: block;
}
.box-fi .con .contain .up p:first-of-type {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
}
.box-fi .con .contain .up p:last-of-type {
  font-size: 13px;
  color: #888;
  margin: 13px 0;
}
.box-fi .con .contain .down {
  padding-top: 10px;
  font-size: 13px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #eee;
  color: #888;
}
.box-fi .con .contain .down p {
  margin: 0;
}

@media (max-width: 532px) {
  .box-fi {
    width: 99%;
  }
  .box-fi .con {
    width: 100%;
  }
  .box-state {
    width: 99%;
  }
}
@media (min-width: 533px) {
  .box-fi {
    width: 99%;
  }
  .box-fi .con {
    width: 50%;
  }
  .box-state {
    width: 99%;
  }
}
@media (min-width: 753px) {
  .box-fi .con {
    width: 33.3333333333%;
  }
}
@media (min-width: 768px) {
  .box-fi {
    width: 50%;
  }
  .box-fi .con {
    width: 100%;
  }
  .box-state {
    width: 50%;
  }
}
@media (min-width: 960px) {
  .box-fi {
    width: 60%;
  }
  .box-fi .con {
    width: 50%;
  }
  .box-state {
    width: 40%;
  }
}
@media (min-width: 1188px) {
  .box-fi {
    width: 70%;
  }
  .box-fi .con {
    width: 33.3333333333%;
  }
  .box-state {
    width: 30%;
  }
}
@media (min-width: 1350px) {
  .box-fi {
    width: 78%;
  }
  .box-fi .con {
    width: 25%;
  }
  .box-state {
    width: 22%;
  }
}
@media (max-width: 767px) {
  .fi > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.box-state {
  padding: 10px;
  padding-top: 20px;
}
.box-state .con {
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 20px;
}
.box-state .con .pdf,
.box-state .con .img,
.box-state .con .word,
.box-state .con .cvs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}
.box-state .con .pdf .icon,
.box-state .con .img .icon,
.box-state .con .word .icon,
.box-state .con .cvs .icon {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
  height: 40px;
}
.box-state .con .pdf .text,
.box-state .con .img .text,
.box-state .con .word .text,
.box-state .con .cvs .text {
  width: 33.3333333333%;
  font-size: 13px;
  color: #888;
}
.box-state .con .pdf .text p:first-child,
.box-state .con .img .text p:first-child,
.box-state .con .word .text p:first-child,
.box-state .con .cvs .text p:first-child {
  color: black !important;
  margin-bottom: 5px !important;
}
.box-state .con .pdf .text p,
.box-state .con .img .text p,
.box-state .con .word .text p,
.box-state .con .cvs .text p {
  margin: 0;
}
.box-state .con .pdf .storage,
.box-state .con .img .storage,
.box-state .con .word .storage,
.box-state .con .cvs .storage {
  width: 33.3333333333%;
  font-size: 13px;
  color: #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.box-state .con .pdf .storage p,
.box-state .con .img .storage p,
.box-state .con .word .storage p,
.box-state .con .cvs .storage p {
  margin: 0;
}
.box-state .con .pdf .icon {
  background-color: rgba(0, 117, 255, 0.2);
}
.box-state .con .pdf .icon svg {
  color: #0075ff;
}
.box-state .con .img .icon {
  background-color: rgba(34, 197, 94, 0.2);
}
.box-state .con .img .icon svg {
  color: #22c55e;
}
.box-state .con .word .icon {
  background-color: rgba(244, 67, 54, 0.2);
}
.box-state .con .word .icon svg {
  color: #f44336;
}
.box-state .con .cvs .icon {
  background-color: rgba(245, 158, 11, 0.2);
}
.box-state .con .cvs .icon svg {
  color: #f59e0b;
}
.box-state .con .upload {
  text-align: center;
}
.box-state .con .upload button {
  border: none;
  font-size: 13px;
  padding: 10px 15px;
  color: white;
  background-color: #0075ff;
  border-radius: 6px;
}

.box-pl {
  padding: 10px;
  background-color: transparent;
}
.box-pl .con {
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 20px;
}
.box-pl .con .up {
  color: white;
  padding: 20px;
  text-align: center;
  border: 3px solid white;
}
.box-pl .con .up h4 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}
.box-pl .con .up p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
}
.box-pl .con .up p svg {
  font-size: 21px;
  margin: 10px 5px 0 0;
}
.box-pl .con .disc {
  margin: 15px 0;
}
.box-pl .con .disc div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-pl .con .disc div > svg {
  font-size: 18px;
  margin-right: 10px;
}
.box-pl .con .disc div p {
  margin: 0;
  font-size: 15px;
}
.box-pl .con .disc div .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border: none !important;
  padding: 0 !important;
}
.box-pl .con .disc div .info > svg {
  color: white;
  background-color: #888;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 2px;
}
.box-pl .con .disc svg.true {
  color: #22c55e;
}
.box-pl .con .disc svg.false {
  color: #f44336;
}
.box-pl .con .join button {
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  color: white;
}
.box-pl .green .up {
  outline: 3px solid #22c55e;
  background-color: #22c55e;
}
.box-pl .green .join button {
  background-color: #22c55e;
}
.box-pl .blue .up {
  outline: 3px solid #0075ff;
  background-color: #0075ff;
}
.box-pl .blue .join button {
  background-color: #0075ff;
}
.box-pl .gold .up {
  outline: 3px solid #f59e0b;
  background-color: #f59e0b;
}
.box-pl .gold .join {
  text-align: center;
  color: #888;
  font-weight: 600;
}
.box-pl .gold .join p {
  margin: 0;
}

@media (max-width: 1187px) {
  .box-pl {
    width: 100%;
  }
}
.box-pro-pr {
  padding: 10px;
  background-color: transparent;
}
.box-pro-pr .con {
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.box-pro-pr .con .row {
  width: 105%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.box-pro-pr .con .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  border-right: 1px solid #eee;
}
.box-pro-pr .con .person img {
  width: 120px;
  margin-bottom: 10px;
}
.box-pro-pr .con .person h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
.box-pro-pr .con .person p:first-of-type {
  margin: 10px 0 16px;
  color: #888;
}
.box-pro-pr .con .person .chart {
  width: 150px;
  background-color: #eee;
  height: 6px;
  border-radius: 10px;
}
.box-pro-pr .con .person .chart > span {
  width: 60%;
  display: block;
  height: 100%;
  background-color: #0075ff;
  border-radius: 10px;
}
.box-pro-pr .con .person .rate {
  margin: 10px 0;
  color: #f59e0b;
}
.box-pro-pr .con .person p:last-of-type {
  margin: 0;
  font-size: 13px;
  color: #888;
}
.box-pro-pr .con .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.box-pro-pr .con .options .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.box-pro-pr .con .options .contain > h5 {
  width: 100%;
  font-size: 15px;
  color: #888;
  margin: 0;
}
.box-pro-pr .con .options .contain .div {
  min-width: 250px;
  padding: 10px 0 0;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-pro-pr .con .options .contain .div > h5 {
  margin: 0;
  font-size: 14px;
  color: #888;
}
.box-pro-pr .con .options .contain .div p {
  margin: 0;
  margin-left: 5px;
}
.box-pro-pr .con .options .contain .divl {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.box-pro-pr .con .options .contain .divl input {
  width: 78px;
  height: 20px;
  cursor: pointer;
}
.box-pro-pr .con .options .contain:last-of-type {
  border: none;
}

@media (max-width: 1140px) {
  .box-pro-pr .con .person {
    width: 100%;
  }
}
@media (min-width: 1141px) {
  .box-pro-pr .con .person {
    width: 20%;
  }
  .box-pro-pr .con .options {
    width: 80%;
  }
}
.box-pro-sk {
  padding: 10px;
  background-color: transparent;
}
.box-pro-sk .con {
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 20px;
}
.box-pro-sk .con .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.box-pro-sk .con .contain p {
  margin: 0;
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 6px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
}
.box-pro-sk .con .contain:last-of-type {
  border: none;
}

.box-pro-act {
  padding: 10px;
  background-color: transparent;
}
.box-pro-act .con {
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 20px;
}
.box-pro-act .con .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.box-pro-act .con .contain .div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.box-pro-act .con .contain .div img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
.box-pro-act .con .contain .div h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}
.box-pro-act .con .contain .div p {
  margin: 0;
  font-size: 16px;
  color: #888;
}
.box-pro-act .con .contain .div .gray {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: end;
}
.box-pro-act .con .contain .div:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .box-pro-act .contain .div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-pro-act .contain .div img {
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
  .box-pro-act .contain .div h4 {
    text-align: center;
  }
  .box-pro-act .contain .div p {
    text-align: center;
    margin-bottom: 10px !important;
  }
}
.box-st {
  padding: 10px;
  background-color: transparent;
}
.box-st .con {
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 20px;
}

.box-st.si .con .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.box-st.si .con .contain .text {
  width: 80%;
  margin-bottom: 15px;
}
.box-st.si .con .contain .text h5 {
  margin: 0;
  font-size: 16px;
}
.box-st.si .con .contain .text p {
  font-size: 13px;
  margin: 5px 0 13px;
  color: #888;
}
.box-st.si .con .contain .divl {
  width: 20%;
}
.box-st.si .con .contain .divl input {
  width: 55px;
  height: 20px;
}
.box-st.si .con .contain textarea {
  width: 100%;
  resize: none;
  min-height: 180px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.box-st.ge .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}
.box-st.ge .div label {
  font-size: 14px;
  margin-bottom: 10px;
  color: #888;
}
.box-st.ge .div input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  outline: none;
}
.box-st.ge .div:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0;
}
.box-st.ge .div:last-child > label {
  width: 100%;
}
.box-st.ge .div:last-child input {
  width: 80%;
}
.box-st.ge .div:last-child a {
  width: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: #0075ff;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 600;
}

.box-st.se .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.box-st.se .div h5 {
  margin: 0;
  font-size: 16px;
}
.box-st.se .div p {
  margin: 5px 0 13px;
  font-size: 13px;
  color: #888;
}
.box-st.se .div .button button {
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  color: white;
  background-color: #0075ff;
}
.box-st.se .div .divl input {
  width: 50px;
  height: 20px;
}
.box-st.se .div .dv button {
  background-color: #eee !important;
  color: black !important;
}
.box-st.se .div:last-child {
  margin-bottom: 0 !important;
}

.box-st.so .con {
  height: 367px;
}
.box-st.so .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eee;
  border: 1px solid #cccccc;
  border-radius: 6px;
  margin-bottom: 15px;
}
.box-st.so .div .icon {
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border-right: 1px solid #ccc;
}
.box-st.so .div .icon svg {
  color: #888;
}
.box-st.so .div input {
  border: none;
  padding-left: 5px;
}

.box-st.wi .div {
  margin-bottom: 15px;
}
.box-st.wi .div input {
  margin-right: 5px;
}

.box-st.ba .div {
  margin-bottom: 15px;
}
.box-st.ba .div input {
  margin-right: 5px;
}
.box-st.ba .squers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  border-top: 1px solid #eee;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.box-st.ba .squers .div-sq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px;
  border: 2px solid #eee;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  width: 100%;
  margin-right: 10px;
  text-align: center;
}
.box-st.ba .squers .div-sq svg {
  margin-bottom: 5px;
}
.box-st.ba .squers .div-sq p {
  margin: 0;
}
.box-st.ba .squers .div-sq.chosen {
  border-color: #0075ff !important;
}
.box-st.ba .squers .div-sq.chosen svg {
  color: #0075ff;
}
.box-st.ba .squers .div-sq.chosen p {
  color: #0075ff;
}
.box-st.ba .squers .div-sq:last-of-type {
  margin-right: 0 !important;
}