doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/all.min.css")
    link(rel="stylesheet", href="./css/bootstrap.min.css")
    link(rel="stylesheet", href="./css/main.css")
    title Files
  body 
    div(class="dashboard d-flex" id="dashboard")
      div(class="side")
        include components/navside
      div(class="content")
        include components/header
        div(class="main")
          h1(class="special-header") Files
          div(class="container fi")
            div(class="row")
              div(class="box-fi")
                div(class="row")
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/pdf.svg")
                        p my-file.pdf
                        p Mohand
                      div(class="down")
                        p 20/06/2020
                        p 5.5MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/avi.svg")
                        p my-file.avi
                        p Admin
                      div(class="down")
                        p 16/5/2021
                        p 12.5MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/eps.svg")
                        p my-file.eps
                        p Uploader
                      div(class="down")
                        p 16/5/2021
                        p 2.7MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/psd.svg")
                        p my-file.psd
                        p Mohand
                      div(class="down")
                        p 20/06/2020
                        p 15.1MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/dll.svg")
                        p my-file.dll
                        p Coder
                      div(class="down")
                        p 20/06/2020
                        p 2.2MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/png.svg")
                        p my-file.png
                        p Designer
                      div(class="down")
                        p 20/06/2020
                        p 1.1MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/pdf.svg")
                        p my-file.pdf
                        p Mohand
                      div(class="down")
                        p 20/06/2020
                        p 5.5MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/avi.svg")
                        p my-file.avi
                        p Admin
                      div(class="down")
                        p 16/5/2021
                        p 12.5MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/eps.svg")
                        p my-file.eps
                        p Uploader
                      div(class="down")
                        p 16/5/2021
                        p 2.7MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/psd.svg")
                        p my-file.psd
                        p Mohand
                      div(class="down")
                        p 20/06/2020
                        p 15.1MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/dll.svg")
                        p my-file.dll
                        p Coder
                      div(class="down")
                        p 20/06/2020
                        p 2.2MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/png.svg")
                        p my-file.png
                        p Designer
                      div(class="down")
                        p 20/06/2020
                        p 1.1MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/pdf.svg")
                        p my-file.pdf
                        p Mohand
                      div(class="down")
                        p 20/06/2020
                        p 5.5MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/avi.svg")
                        p my-file.avi
                        p Admin
                      div(class="down")
                        p 16/5/2021
                        p 12.5MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/eps.svg")
                        p my-file.eps
                        p Uploader
                      div(class="down")
                        p 16/5/2021
                        p 2.7MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/psd.svg")
                        p my-file.psd
                        p Mohand
                      div(class="down")
                        p 20/06/2020
                        p 15.1MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/dll.svg")
                        p my-file.dll
                        p Coder
                      div(class="down")
                        p 20/06/2020
                        p 2.2MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/png.svg")
                        p my-file.png
                        p Designer
                      div(class="down")
                        p 20/06/2020
                        p 1.1MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/pdf.svg")
                        p my-file.pdf
                        p Mohand
                      div(class="down")
                        p 20/06/2020
                        p 5.5MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/avi.svg")
                        p my-file.avi
                        p Admin
                      div(class="down")
                        p 16/5/2021
                        p 12.5MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/eps.svg")
                        p my-file.eps
                        p Uploader
                      div(class="down")
                        p 16/5/2021
                        p 2.7MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/psd.svg")
                        p my-file.psd
                        p Mohand
                      div(class="down")
                        p 20/06/2020
                        p 15.1MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/dll.svg")
                        p my-file.dll
                        p Coder
                      div(class="down")
                        p 20/06/2020
                        p 2.2MB
                  div(class="con col-sm-12 cpl-md-6 col-lg-3")
                    div(class="contain")
                      div(class="up")
                        <i class="fa-solid fa-download"></i>
                        img(src="./images/png.svg")
                        p my-file.png
                        p Designer
                      div(class="down")
                        p 20/06/2020
                        p 1.1MB
              div(class="box-state")
                div(class="con")
                  h3(class="header-special") Files Statistics
                  div(class="pdf")
                    div(class="icon")
                      <i class="fa-regular fa-file-pdf"></i>
                    div(class="text") 
                      p PDF Files
                      p 130 Files
                    div(class="storage")
                      p 6.5GB
                  div(class="img")
                    div(class="icon")
                      <i class="fa-regular fa-images"></i>
                    div(class="text") 
                      p Images
                      p 115 Files
                    div(class="storage")
                      p 3.5GB
                  div(class="word")
                    div(class="icon")
                      <i class="fa-regular fa-file-word"></i>
                    div(class="text") 
                      p Word Files
                      p 110 Files
                    div(class="storage")
                      p 3.2GB
                  div(class="cvs")
                    div(class="icon")
                      <i class="fa-solid fa-file-csv"></i>
                    div(class="text") 
                      p CSV Files
                      p 99 Files
                    div(class="storage")
                      p 2.9GB
                  div(class="upload")
                    button
                      <i class="fa-solid fa-angles-up"></i> upload
    script(src="./js/all.min.js")