doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/all.min.css")
    link(rel="stylesheet", href="./css/bootstrap.min.css")
    link(rel="stylesheet", href="./css/main.css")
    title Friends
  body 
    div(class="dashboard d-flex" id="dashboard")
      div(class="side")
        include components/navside
      div(class="content")
        include components/header
        div(class="main")
          h1(class="special-header") Friends
          div(class="container")
            div(class="row")
              div(class="box-fr col-sm-12 col-md-6 col-lg-3")
                div(class="con vip")
                  div(class="up")
                    a
                      <i class="fa-solid fa-phone"></i>
                    a
                      <i class="fa-regular fa-envelope"></i>
                    div(class="image")
                      img(src="./images/friend-01.jpg")
                    h3 Ammar Yasser
                    p Front End Developer
                  div(class="mid")
                    p
                      <i class="fa-regular fa-face-smile"></i> 99 Friend
                    p
                      <i class="fa-solid fa-code-commit"></i> 15 Projects
                    p
                      <i class="fa-regular fa-newspaper"></i> 25 Articles
                  div(class="down")
                    p Joined 02/10/2021
                    div(class="controll")
                      a Profile
                      a Remove
              div(class="box-fr col-sm-12 col-md-6 col-lg-3")
                div(class="con")
                  div(class="up")
                    a
                      <i class="fa-solid fa-phone"></i>
                    a
                      <i class="fa-regular fa-envelope"></i>
                    div(class="image")
                      img(src="./images/friend-02.jpg")
                    h3 Hazem Zoma
                    p IT & Networking
                  div(class="mid")
                    p
                      <i class="fa-regular fa-face-smile"></i> 99 Friend
                    p
                      <i class="fa-solid fa-code-commit"></i> 15 Projects
                    p
                      <i class="fa-regular fa-newspaper"></i> 25 Articles
                  div(class="down")
                    p Joined 02/10/2021
                    div(class="controll")
                      a Profile
                      a Remove
              div(class="box-fr col-sm-12 col-md-6 col-lg-3")
                div(class="con")
                  div(class="up")
                    a
                      <i class="fa-solid fa-phone"></i>
                    a
                      <i class="fa-regular fa-envelope"></i>
                    div(class="image")
                      img(src="./images/friend-03.jpg")
                    h3 Ziad Ahmed
                    p Back End Developer
                  div(class="mid")
                    p
                      <i class="fa-regular fa-face-smile"></i> 99 Friend
                    p
                      <i class="fa-solid fa-code-commit"></i> 15 Projects
                    p
                      <i class="fa-regular fa-newspaper"></i> 25 Articles
                  div(class="down")
                    p Joined 02/10/2021
                    div(class="controll")
                      a Profile
                      a Remove
              div(class="box-fr col-sm-12 col-md-6 col-lg-3")
                div(class="con")
                  div(class="up")
                    a
                      <i class="fa-solid fa-phone"></i>
                    a
                      <i class="fa-regular fa-envelope"></i>
                    div(class="image")
                      img(src="./images/friend-04.jpg")
                    h3 Mostafa X
                    p Cyber Secuirty
                  div(class="mid")
                    p
                      <i class="fa-regular fa-face-smile"></i> 99 Friend
                    p
                      <i class="fa-solid fa-code-commit"></i> 15 Projects
                    p
                      <i class="fa-regular fa-newspaper"></i> 25 Articles
                  div(class="down")
                    p Joined 02/10/2021
                    div(class="controll")
                      a Profile
                      a Remove
              div(class="box-fr col-sm-12 col-md-6 col-lg-3")
                div(class="con")
                  div(class="up")
                    a
                      <i class="fa-solid fa-phone"></i>
                    a
                      <i class="fa-regular fa-envelope"></i>
                    div(class="image")
                      img(src="./images/friend-05.jpg")
                    h3 Tats Shebsi
                    p Call center & Marketing
                  div(class="mid")
                    p
                      <i class="fa-regular fa-face-smile"></i> 99 Friend
                    p
                      <i class="fa-solid fa-code-commit"></i> 15 Projects
                    p
                      <i class="fa-regular fa-newspaper"></i> 25 Articles
                  div(class="down")
                    p Joined 02/10/2021
                    div(class="controll")
                      a Profile
                      a Remove
              div(class="box-fr col-sm-12 col-md-6 col-lg-3")
                div(class="con")
                  div(class="up")
                    a
                      <i class="fa-solid fa-phone"></i>
                    a
                      <i class="fa-regular fa-envelope"></i>
                    div(class="image")
                      img(src="./images/friend-01.jpg")
                    h3 Mohamed Said
                    p Graphic Design
                  div(class="mid")
                    p
                      <i class="fa-regular fa-face-smile"></i> 99 Friend
                    p
                      <i class="fa-solid fa-code-commit"></i> 15 Projects
                    p
                      <i class="fa-regular fa-newspaper"></i> 25 Articles
                  div(class="down")
                    p Joined 02/10/2021
                    div(class="controll")
                      a Profile
                      a Remove
              div(class="box-fr col-sm-12 col-md-6 col-lg-3")
                div(class="con")
                  div(class="up")
                    a
                      <i class="fa-solid fa-phone"></i>
                    a
                      <i class="fa-regular fa-envelope"></i>
                    div(class="image")
                      img(src="./images/friend-02.jpg")
                    h3 Mohamed Hamdi
                    p Motion Graphic
                  div(class="mid")
                    p
                      <i class="fa-regular fa-face-smile"></i> 99 Friend
                    p
                      <i class="fa-solid fa-code-commit"></i> 15 Projects
                    p
                      <i class="fa-regular fa-newspaper"></i> 25 Articles
                  div(class="down")
                    p Joined 02/10/2021
                    div(class="controll")
                      a Profile
                      a Remove
              div(class="box-fr col-sm-12 col-md-6 col-lg-3")
                div(class="con vip")
                  div(class="up")
                    a
                      <i class="fa-solid fa-phone"></i>
                    a
                      <i class="fa-regular fa-envelope"></i>
                    div(class="image")
                      img(src="./images/friend-03.jpg")
                    h3 Said Sawdawe
                    p UI & UX
                  div(class="mid")
                    p
                      <i class="fa-regular fa-face-smile"></i> 99 Friend
                    p
                      <i class="fa-solid fa-code-commit"></i> 15 Projects
                    p
                      <i class="fa-regular fa-newspaper"></i> 25 Articles
                  div(class="down")
                    p Joined 02/10/2021
                    div(class="controll")
                      a Profile
                      a Remove
              div(class="box-fr col-sm-12 col-md-6 col-lg-3")
                div(class="con vip")
                  div(class="up")
                    a
                      <i class="fa-solid fa-phone"></i>
                    a
                      <i class="fa-regular fa-envelope"></i>
                    div(class="image")
                      img(src="./images/friend-04.jpg")
                    h3 Anas Malek
                    p Data Analsysist
                  div(class="mid")
                    p
                      <i class="fa-regular fa-face-smile"></i> 99 Friend
                    p
                      <i class="fa-solid fa-code-commit"></i> 15 Projects
                    p
                      <i class="fa-regular fa-newspaper"></i> 25 Articles
                  div(class="down")
                    p Joined 02/10/2021
                    div(class="controll")
                      a Profile
                      a Remove
              div(class="box-fr col-sm-12 col-md-6 col-lg-3")
                div(class="con")
                  div(class="up")
                    a
                      <i class="fa-solid fa-phone"></i>
                    a
                      <i class="fa-regular fa-envelope"></i>
                    div(class="image")
                      img(src="./images/friend-05.jpg")
                    h3 Yazen Mohamed
                    p Pyton Developer
                  div(class="mid")
                    p
                      <i class="fa-regular fa-face-smile"></i> 99 Friend
                    p
                      <i class="fa-solid fa-code-commit"></i> 15 Projects
                    p
                      <i class="fa-regular fa-newspaper"></i> 25 Articles
                  div(class="down")
                    p Joined 02/10/2021
                    div(class="controll")
                      a Profile
                      a Remove
    script(src="./js/all.min.js")