doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/all.min.css")
    link(rel="stylesheet", href="./css/bootstrap.min.css")
    link(rel="stylesheet", href="./css/main.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    title Dashboard
  body 
    div(class="dashboard d-flex" id="dashboard")
      div(class="side")
        include components/navside
      div(class="content")
        include components/header
        div(class="main")
          h1(class="special-header") Dashboard
          div(class="container")
            div(class="row")
              div(class="box1 col-sm-12 col-md-12 col-lg-6")
                div(class="contentwel")
                  div(class="up")
                    div(class="header")
                      h3 Welcome
                      p Mohand
                    div(class="image")
                      img(src="./images/welcome.png")
                  div(class="down")
                    img(src="./images/avatar.png")
                    div(class="state")
                      div(class="sec")
                        p Mohand Hany
                        p(class="para") Developer
                      div(class="sec")
                        p 80
                        p(class="para") Projects
                      div(class="sec")
                        p $8500
                        p(class="para") Earned
                    button Profile
              div(class="box2 col-sm-12 col-md-12 col-lg-6")
                div(class="contentdraf")
                  h3(class="header-special") Quick Draft
                  p(class="para-special") Write A Draft For Your Ideas
                  div(class="inpu")
                    input(type="text" placeholder="Title")
                    textarea(type="text" placeholder="Your Thought")
                    button Save
              div(class="box3 col-sm-12 col-md-12 col-lg-6")
                div(class="contenttarget")
                  h3(class="header-special") Yearly Targets
                  p(class="para-special") Targets Of The Year
                  div(class="static")
                    div(class="money")
                      div(class="icon")
                        <i class="fa-solid fa-dollar-sign"></i>
                      div(class="show")
                        p(class="para") Money
                        p $20.000
                        div(class="chart")
                          span(class="color")
                            span 80%
                    div(class="project")
                      div(class="icon")
                        <i class="fa-solid fa-code"></i>
                      div(class="show")
                        p(class="para") Projects
                        p 24
                        div(class="chart")
                          span(class="color")
                            span 55%
                    div(class="team")
                      div(class="icon")
                        <i class="fa-solid fa-user"></i>
                      div(class="show")
                        p(class="para") Team
                        p 12
                        div(class="chart")
                          span(class="color")
                            span 75%
              div(class="box4 col-sm-12 col-md-12 col-lg-6")
                div(class="contenttickets")
                  h3(class="header-special") Tickets Statistics
                  p(class="para-special") Everything About Support Tickets
                  div(class="row")
                    div(class="total col-sm-12 col-md-12 col-lg-6")
                      div(class="con")
                        <i class="fa-regular fa-rectangle-list"></i>
                        h3 2500
                        p Total
                    div(class="pend col-sm-12 col-md-12 col-lg-6")
                      div(class="con")
                        <i class="fa-solid fa-spinner"></i>
                        h3 500
                        p Pending
                    div(class="close col-sm-12 col-md-12 col-lg-6")
                      div(class="con")
                        <i class="fa-regular fa-circle-check"></i>
                        h3 1900
                        p Closed
                    div(class="delet col-sm-12 col-md-12 col-lg-6")
                      div(class="con")
                        <i class="fa-regular fa-circle-xmark"></i>
                        h3 100
                        p Deleted
              div(class="box5 col-sm-12 col-md-12 col-lg-6")
                div(class="contentnews")
                  h3(class="header-special") Latest News
                  div(class="div")
                    div(class="image")
                      img(src="./images/news-01.png")
                    div(class="text")
                      h4 Created SASS Section
                      p New SASS Examples & Tutorials
                    div(class="span")
                      span 3 Days Ago
                  div(class="div")
                    div(class="image")
                      img(src="./images/news-02.png")
                    div(class="text")
                      h4 Changed The Design
                      p A Brand New Website Design
                    div(class="span")
                      span 5 Days Ago
                  div(class="div")
                    div(class="image")
                      img(src="./images/news-03.png")
                    div(class="text")
                      h4 Team Increased
                      p 3 Developers Joined The Team
                    div(class="span")
                      span 7 Days Ago
                  div(class="div")
                    div(class="image")
                      img(src="./images/news-04.png")
                    div(class="text")
                      h4 Added Payment Gateway
                      p Many New Payment Gateways Added
                    div(class="span")
                      span 9 Days Ago
              div(class="box6 col-sm-12 col-md-12 col-lg-6")
                div(class="contenttask")
                  h3(class="header-special") Latest Tasks
                  div(class="div")
                    div(class="text")
                      h4 Record One New Video
                      p Record Python Create Exe Project
                    div(class="icon")
                      <i class="fa-regular fa-trash-can"></i>
                  div(class="div")
                    div(class="text")
                      h4 Write Article
                      p Write Low Level vs High Level Languages
                    div(class="icon")
                      <i class="fa-regular fa-trash-can"></i>
                  div(class="div")
                    div(class="text")
                      h4 Finish Project
                      p Publish Academy Programming Project
                    div(class="icon")
                      <i class="fa-regular fa-trash-can"></i>
                  div(class="div done")
                    div(class="text")
                      h4 Attend The Meeting
                      p Attend The Project Business Analysis Meeting
                    div(class="icon")
                      <i class="fa-regular fa-trash-can"></i>
                  div(class="div")
                    div(class="text")
                      h4 Finish Lesson
                      p Finish Teaching Flex Box
                    div(class="icon")
                      <i class="fa-regular fa-trash-can"></i>
              div(class="box7 col-sm-12 col-md-12 col-lg-6")
                div(class="contentsearch")
                  h3(class="header-special") Top Search Items
                  div(class="main-text")
                    h4 Keyword
                    h4 Search Count
                  div(class="div")
                    div(class="text")
                      p Programming
                      span 220
                  div(class="div")
                    div(class="text")
                      p JavaScript
                      span 180
                  div(class="div")
                    div(class="text")
                      p PHP
                      span 160
                  div(class="div")
                    div(class="text")
                      p Code
                      span 145
                  div(class="div")
                    div(class="text")
                      p Design
                      span 110
                  div(class="div")
                    div(class="text")
                      p Logic
                      span 95
              div(class="box8 col-sm-12 col-md-12 col-lg-6")
                div(class="contentupload")
                  h3(class="header-special") Latest Uploads
                  div(class="div")
                    div(class="image")
                      img(src="./images/pdf.svg")
                    div(class="text")
                      h5 My-Pdf-File.pdf
                      p Mohand
                    span 2.9mb
                  div(class="div")
                    div(class="image")
                      img(src="./images/avi.svg")
                    div(class="text")
                      h5 My-Video-File.avi
                      p Admin
                    span 4.9mb
                  div(class="div")
                    div(class="image")
                      img(src="./images/psd.svg")
                    div(class="text")
                      h5 My-Psd-File.pdf
                      p Mohand
                    span 4.5mb
                  div(class="div")
                    div(class="image")
                      img(src="./images/zip.svg")
                    div(class="text")
                      h5 My-Zip-File.pdf
                      p User
                    span 8.9mb
                  div(class="div")
                    div(class="image")
                      img(src="./images/dll.svg")
                    div(class="text")
                      h5 My-DLL-File.pdf
                      p Admin
                    span 4.9mb
                  div(class="div")
                    div(class="image")
                      img(src="./images/eps.svg")
                    div(class="text")
                      h5 My-Eps-File.pdf
                      p Designer
                    span 8.9mb
              div(class="box9 col-sm-12 col-md-12 col-lg-6")
                div(class="contentproject")
                  h3(class="header-special") Last Project Progress
                  div(class="contain")
                    div(class="div")
                      span
                    p Got The Project
                  div(class="contain")
                    div(class="div")
                      span
                    p Started The Project
                  div(class="contain")
                    div(class="div")
                      span
                    p The Project About To Finish
                  div(class="contain ani")
                    div(class="div")
                      span
                    p Test The Project
                  div(class="contain")
                    div(class="div")
                      span
                    p Finish The Project & Get Money
                  img(src="./images/project.png")
              div(class="box10 col-sm-12 col-md-12 col-lg-6")
                div(class="contentremind")
                  h3(class="header-special") Reminders
                  div(class="contain")
                    div(class="div one")
                      span
                    div(class="text")
                      h5 Check My Tasks List
                      p 28/09/2022 - 12:00am
                  div(class="contain")
                    div(class="div two")
                      span
                    div(class="text")
                      h5 Check My Projects
                      p 26/10/2022 - 12:00am
                  div(class="contain")
                    div(class="div three")
                      span
                    div(class="text")
                      h5 Call All My Clients
                      p 05/11/2022 - 12:00am
                  div(class="contain")
                    div(class="div four")
                      span
                    div(class="text")
                      h5 Finish The Development Workshop
                      p 20/12/2022 - 12:00am
              div(class="box11 col-sm-12 col-md-12 col-lg-6")
                div(class="contentpost")
                  h3(class="header-special") Latest Post
                  div(class="post")
                    div(class="user")
                      div(class="image")
                        img(src="./images/avatar.png")
                      div(class="text")
                        h3 Mohand Hany
                        p About 3 Hours Ago
                    div(class="artic")
                      p(dir="rtl")
                        | لن ابرح حتي ابلغ
                        span &#128150;
                        span &#10024;
                    div(class="icons")
                      div(class="div")
                        <i class="fa-regular fa-heart"></i>
                        p 1.5k
                      div(class="div")
                        <i class="fa-regular fa-comments"></i>
                        p 200
              div(class="box12 col-sm-12 col-md-12 col-lg-6")
                div(class="contentsocial")
                  h3(class="header-special") Social Media Stats
                  div(class="twit")
                    div(class="div")
                      <i class="fa-brands fa-twitter"></i>
                    p 90k Followers
                    button 
                      a(href= "#") Follow
                  div(class="face")
                    div(class="div")
                      <i class="fa-brands fa-facebook-f"></i>
                    p 2M Like
                    button 
                      a(href= "#") Like
                  div(class="youtube")
                    div(class="div")
                      <i class="fa-brands fa-youtube"></i>
                    p 1M Subs
                    button 
                      a(href= "#") Subscribe
                  div(class="linkd")
                    div(class="div")
                      <i class="fa-brands fa-linkedin-in"></i>
                    p 70k Followers
                    button 
                      a(href= "#") Follow
              div(class="box13 col-sm-12 col-md-12 col-lg-12")
                div(class="contenttable")
                  h3(class="header-special") Projects
                  div(class="contain")
                    table
                      thead
                        tr
                          th Name 
                          th Finish Date	 
                          th Client 
                          th Price 
                          th Team 
                          th Status 
                      tbody
                        tr
                          td Ministry Wikipedia
                          td 10 May 2022
                          td Ministry
                          td &#36; 5300
                          td(class="image")
                            img(src="./images/team-01.png")
                            img(src="./images/team-02.png")
                            img(src="./images/team-03.png")
                            img(src="./images/team-04.png")
                          td
                            button(class="or")
                              a Pending
                        tr
                          td Mohand Shop
                          td 12 Oct 2021
                          td Mohand Company
                          td &#36; 1500
                          td(class="image")
                            img(src="./images/team-01.png")
                            img(src="./images/team-02.png")
                            img(src="./images/team-03.png")
                          td
                            button(class="blue")
                              a In Progress
                        tr
                          td Bouba App
                          td 05 Sep 2021
                          td Bouba
                          td &#36; 800
                          td(class="image")
                            img(src="./images/team-01.png")
                            img(src="./images/team-02.png")
                          td
                            button(class="green")
                              a Completed
                        tr
                          td Mohand Website
                          td 22 May 2021	
                          td Mohand
                          td &#36; 600
                          td(class="image")
                            img(src="./images/team-01.png")
                            img(src="./images/team-02.png")
                          td
                            button(class="green")
                              a Completed
                        tr
                          td Sayed Website	
                          td 24 May 2021	
                          td Sayed
                          td &#36; 300
                          td(class="image")
                            img(src="./images/team-01.png")
                            img(src="./images/team-02.png")
                          td
                            button(class="red")
                              a Rejected
                        tr
                          td Arena Application	
                          td 01 Mar 2021	
                          td Arena Company	
                          td &#36; 2600
                          td(class="image")
                            img(src="./images/team-01.png")
                            img(src="./images/team-02.png")
                            img(src="./images/team-03.png")
                            img(src="./images/team-04.png")
                          td
                            button(class="green")
                              a Completed
    script(src="./js/all.min.js")
    script(src="./js/main.js")


