doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/all.min.css")
    link(rel="stylesheet", href="./css/bootstrap.min.css")
    link(rel="stylesheet", href="./css/main.css")
    title Document
  body 
    div(class="dashboard" id="dashboard")
      div(class="row")
        div(class="side col-2")
          include components/navside
        div(class="content col-10")
    script(src="./js/all.min.js")

