doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/all.min.css")
    link(rel="stylesheet", href="./css/bootstrap.min.css")
    link(rel="stylesheet", href="./css/main.css")
    title Plans
  body 
    div(class="dashboard d-flex" id="dashboard")
      div(class="side")
        include components/navsidepl
      div(class="content")
        include components/header
        div(class="main")
          h1(class="special-header") Plans
          div(class="container")
            div(class="row")
              div(class="box-pl col-sm-12 col-md-12 col-lg-6")
                div(class="con green")
                  div(class="up")
                    h4 Free
                    p <i class="fa-solid fa-dollar-sign"></i> 0.00
                  div(class="disc")
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Access All Text Lessons
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Access All Videos Lessons
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Appear On Leaderboard
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-xmark false"></i>
                      p Browse Content Without Ads
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-xmark false"></i>
                      p Access All Assignments
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-xmark false"></i>
                      p Get Daily Prizes
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-xmark false"></i>
                      p Earn Certificate
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-xmark false"></i>
                      p 1 GB Space For Hosting Files
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-xmark false"></i> 
                      p Access Badge System
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                  div(class="join")
                    button Join
              div(class="box-pl col-sm-12 col-md-12 col-lg-6")
                div(class="con blue")
                  div(class="up")
                    h4 Basic
                    p <i class="fa-solid fa-dollar-sign"></i> 7.99
                  div(class="disc")
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Access All Text Lessons
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Access All Videos Lessons
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Appear On Leaderboard
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Browse Content Without Ads
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Access All Assignments
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Get Daily Prizes
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Earn Certificate
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-xmark false"></i>
                      p 1 GB Space For Hosting Files
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-xmark false"></i>
                      p Access Badge System
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                  div(class="join")
                    button Join
              div(class="box-pl col-sm-12 col-md-12 col-lg-6")
                div(class="con gold")
                  div(class="up")
                    h4 Premium
                    p <i class="fa-solid fa-dollar-sign"></i> 19.99
                  div(class="disc")
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Access All Text Lessons
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Access All Videos Lessons
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Appear On Leaderboard
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Browse Content Without Ads
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Access All Assignments
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Get Daily Prizes
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Earn Certificate
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p 1 GB Space For Hosting Files
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                    div
                      <i class="fa-solid fa-check true"></i> 
                      p Access Badge System
                      div(class="info")
                        <i class="fa-solid fa-info"></i>
                  div(class="join")
                    p This Is Your Current Plan
    script(src="./js/all.min.js")
    script(src="./js/main.js")
