doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/all.min.css")
    link(rel="stylesheet", href="./css/bootstrap.min.css")
    link(rel="stylesheet", href="./css/main.css")
    title Projects
  body 
    div(class="dashboard d-flex" id="dashboard")
      div(class="side")
        include components/navsideprg
      div(class="content")
        include components/header
        div(class="main")
          h1(class="special-header") Projects
          div(class="container")
            div(class="row")
              div(class="box-pr col-sm-12 col-md-12 col-lg-6")
                div(class="con")
                  div(class="text")
                    h5 Mohand Dashboard
                    p(class="disc") Mohand Dashboard Project Design And Programming And Hosting
                    p(class="date") 16/2/2022
                  div(class="image")
                    div(class="impr")
                      img(src="./images/team-01.png", class="one")
                    div(class="impr") 
                      img(src="./images/team-02.png", class="two")
                    div(class="impr")
                      img(src="./images/team-03.png", class="three")
                    div(class="impr")
                      img(src="./images/team-04.png", class="four")
                    div(class="impr")
                      img(src="./images/team-05.png", class="five")
                  div(class="proj")
                    p Programming
                    p Design
                    p Hosting
                    p Marketing
                  div(class="chart")
                    div
                      span(class="one")
                    p <i class="fa-solid fa-dollar-sign"></i> 2500
              div(class="box-pr col-sm-12 col-md-12 col-lg-6")
                div(class="con")
                  div(class="text")
                    h5 Academy Portal
                    p(class="disc") Academy Portal Project Design And Programming
                    p(class="date") 16/1/2022
                  div(class="image")
                    div(class="impr")
                      img(src="./images/team-01.png", class="one")
                    div(class="impr")
                      img(src="./images/team-02.png", class="two")
                    div(class="impr")
                      img(src="./images/team-03.png", class="three")
                  div(class="proj")
                    p Programming
                    p Design
                  div(class="chart")
                    div
                      span(class="two")
                    p <i class="fa-solid fa-dollar-sign"></i> 1800
              div(class="box-pr col-sm-12 col-md-12 col-lg-6")
                div(class="con")
                  div(class="text")
                    h5 Chatting Application
                    p(class="disc") Chatting Application Project Design
                    p(class="date") 16/3/2022
                  div(class="image")
                    div(class="impr")
                      img(src="./images/team-01.png", class="one")
                    div(class="impr")
                      img(src="./images/team-02.png", class="two")
                    div(class="impr")
                      img(src="./images/team-03.png", class="three")
                  div(class="proj")
                    p Design
                    p Hosting
                  div(class="chart")
                    div
                      span(class="three")
                    p <i class="fa-solid fa-dollar-sign"></i> 950
              div(class="box-pr col-sm-12 col-md-12 col-lg-6")
                div(class="con")
                  div(class="text")
                    h5 Ammar Dashboard
                    p(class="disc") Ammar Dashboard Project Design And Programming And Hosting
                    p(class="date") 16/2/2022
                  div(class="image")
                    div(class="impr")
                      img(src="./images/team-01.png", class="one")
                    div(class="impr")
                      img(src="./images/team-02.png", class="two")
                    div(class="impr")
                      img(src="./images/team-03.png", class="three")
                    div(class="impr")
                      img(src="./images/team-04.png", class="four")
                  div(class="proj")
                    p Programming
                    p Design
                    p Hosting
                    p Marketing
                  div(class="chart")
                    div
                      span(class="four")
                    p <i class="fa-solid fa-dollar-sign"></i> 1800
              div(class="box-pr col-sm-12 col-md-12 col-lg-6")
                div(class="con")
                  div(class="text")
                    h5 Ammar Portal
                    p(class="disc") Ammar Portal Project Design And Programming
                    p(class="date") 16/7/2023
                  div(class="image")
                    div(class="impr")
                      img(src="./images/team-01.png", class="one")
                    div(class="impr")
                      img(src="./images/team-02.png", class="two")
                    div(class="impr")
                      img(src="./images/team-03.png", class="three")
                  div(class="proj")
                    p Programming
                    p Design
                  div(class="chart")
                    div
                      span(class="five")
                    p <i class="fa-solid fa-dollar-sign"></i> 850
              div(class="box-pr col-sm-12 col-md-12 col-lg-6")
                div(class="con")
                  div(class="text")
                    h5 Tats Application
                    p(class="disc") Tats Application Project Design
                    p(class="date") 26/2/2022
                  div(class="image")
                    div(class="impr")
                      img(src="./images/team-01.png", class="one")
                    div(class="impr")
                      img(src="./images/team-02.png", class="two")
                    div(class="impr")
                      img(src="./images/team-03.png", class="three")
                  div(class="proj")
                    p Design
                  div(class="chart")
                    div
                      span(class="six")
                    p <i class="fa-solid fa-dollar-sign"></i> 950
              div(class="box-pr col-sm-12 col-md-12 col-lg-6")
                div(class="con")
                  div(class="text")
                    h5 Mohamed Dashboard
                    p(class="disc") Mohamed Dashboard Project Design And Programming And Hosting
                    p(class="date") 10/7/2022
                  div(class="image")
                    div(class="impr")
                      img(src="./images/team-01.png", class="one")
                    div(class="impr")
                      img(src="./images/team-02.png", class="two")
                    div(class="impr")
                      img(src="./images/team-03.png", class="three")
                    div(class="impr")
                      img(src="./images/team-04.png", class="four")
                  div(class="proj")
                    p Programming
                    p Design
                    p Hosting
                    p Marketing
                  div(class="chart")
                    div
                      span(class="seven")
                    p <i class="fa-solid fa-dollar-sign"></i> 1950
              div(class="box-pr col-sm-12 col-md-12 col-lg-6")
                div(class="con")
                  div(class="text")
                    h5 Mohamed Portal
                    p(class="disc") Mohamed Portal Project Design And Programming
                    p(class="date") 20/4/2022
                  div(class="image")
                    div(class="impr")
                      img(src="./images/team-01.png", class="one")
                    div(class="impr")
                      img(src="./images/team-02.png", class="two")
                    div(class="impr")
                      img(src="./images/team-03.png", class="three")
                  div(class="proj")
                    p Hosting
                    p Marketing
                  div(class="chart")
                    div
                      span(class="eight")
                    p <i class="fa-solid fa-dollar-sign"></i> 1650
              div(class="box-pr col-sm-12 col-md-12 col-lg-6")
                div(class="con")
                  div(class="text")
                    h5 Hazem Application
                    p(class="disc") Hazem Application Project Hosting
                    p(class="date") 1/1/2023
                  div(class="image")
                    div(class="impr")
                      img(src="./images/team-01.png", class="one")
                    div(class="impr")
                      img(src="./images/team-02.png", class="two")
                  div(class="proj")
                    p Hosting
                  div(class="chart")
                    div
                      span(class="nine")
                    p <i class="fa-solid fa-dollar-sign"></i> 2800
    script(src="./js/all.min.js")
    script(src="./js/main.js")
