.content {
  .header {
    width: 100%;
    padding: 15px;
    .d-flex {
      width: 100%;
      justify-content: space-between;
      .search {
        position: relative;
        svg {
          left: 12px;
          position: absolute;
          font-size: 14px;
          top: 50%;
          transform: translateY(-50%);
          color: #888;
        }
        input {
          padding: 10px 10px 10px 30px;
          border-radius: 10px;
          outline: none;
          border: 1px solid #ccc;
          font-size: 13px;
          width: 160px;
          transition: 0.3s linear;
          &:focus {
            outline: none;
            width: 200px;
          }
        }
      }
      .person {
        display: flex;
        align-items: center;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: #f44336;
          border-radius: 50%;
          top: 5px;
          left: 12px;
        }
        svg {
          font-size: 20px;
        }
        img {
          max-width: 32px;
          margin-left: 15px;
        }
      }
    }
  }
}
